body {
    margin: 0;
    padding: 0;
    width: 1020px;
    margin: 10px auto;
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
    background-color:white;
}

section {
    border-bottom: 1px solid grey;
}

h1 {
    color: midnightblue;
    text-decoration: underline;
}

h2 {
    color: darkblue;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    background-color: lightgray;
    
}

.gitlink {
    margin-right: auto;
    border-radius: 50%;
    padding: 5px;
}

.rslink {
    margin-right: 5px;
    padding: 5px;
}

.gitlink:hover,
.rslink:hover {
    background-color:lightblue;
    box-shadow: 0 0 5px lightblue;
}